#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.app {
  min-height: 100vh;
}

header {
  background-color: blue;
  color: white;
  top: 0;
  left: 0;
  width: 100vw;
  padding: .5em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  z-index: 100;
}

header h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
  text-align: left;
}